
html {
    background-image: url("../img/happy_cat_and_dog_opaque.png");
    background-size: cover;
}

/*html.inner_pages_html {
    background-image: none;
    background-color: #343A40;
}

#mainNav {
    background-color: transparent !important;
}

.logo_collapsed_visible {
    display: none;
}

.sidenav-toggled .logo_collapsed_visible {
    display: block;
}

.logo.logo_collapsed_visible {
    height: 22px;
}*/

body,
.jumbotron {
    background-color: transparent
}

/*body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px);
}*/

#logoA {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 0.9375rem;
    line-height: inherit;
    position: relative;
    font-size: 1.75rem;
    padding-top: 0;
    margin-top: -1.6875rem;
}

#logoImg {
    max-height: 2em;
}

.navbar.navbar-dark {
    z-index: 100;
}

#navbarHeader {
    z-index: 10;
}

.form-signin #inputPassword,
.form-signin button,
.form-signin #inputEmail {
    margin-bottom: 1rem;
}

.form-signin .form-signin-heading {
    margin-bottom: 1rem;
}

.forgot_pass {
    margin-bottom: 0.5rem;
}

.sh_signup .fa-balance-scale,
.sh_signup .fa-home {
    font-size: 7em;
    margin: .2em auto 0;
}

.sh_signup .card {
    background-color: transparent;
    border: none;
}

.sh_signup .card-footer {
    background-color: transparent;
    border: none;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(255,255,255,.5);
    box-shadow: none;
}

.form-control:focus,
.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #777777;
}

.sh_signup .custom-control-indicator {
    background-color: #007bff;
}
.sh_signup #sign_up_org_code_half_row {
    display: none;
}

.jumbotron-heading.signup_shelter,
.jumbotron-heading.signup_advocate {
    display: none;
}

.signup_form_row {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.org_account_cont .signup_form_row {
    display: flex;
}

body .custom-select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #777777;
}

.org_account_cont select,
.new_client_form_row select {
    width: 100%;
}

.current_pets_cont .scrollspy-example,
.pets_in_need_cont .scrollspy-example,
.current_clients_cont .scrollspy-example,
.clients_in_need_cont .scrollspy-example {
    position: relative;
    overflow-y: scroll;
    height: 800px;
    border-radius: 4px;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.current_pets_cont [id*="list-item-"],
.pets_in_need_cont [id*="list-item-"],
.current_clients_cont [id*="list-item-"],
.clients_in_need_cont [id*="list-item-"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem !important;
    margin-bottom: 2rem;
    margin-top: 2rem !important;
    border-radius: 4px;
    /*padding-bottom: 1rem;*/
    /*padding-top: 4rem;*/
}

.main_cont > div:nth-child(2) {
    border-radius: 4px;
    padding-right: 0;
    padding-left: 0;
    margin-right: -15px;
    margin-left: 5px;
}

.current_pets_cont .spinner_cont.spinner_modal,
.pets_in_need_cont .spinner_cont.spinner_modal,
.current_clients_cont .spinner_cont.spinner_modal,
.clients_in_need_cont .spinner_cont.spinner_modal {
    display: none;
    width: 41px;
    height: 26px;
}

.client_qa_form_buttons_cont,
.pet_qa_form_buttons_cont {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    /*padding: 15px;*/
}

.current_clients_cont #currentClientsModal .custom-radio {
    display: block;
}

[class*='paginate_'] li {
    margin: 0 .5rem;
}

footer .sh_social_icons {
    list-style-type: none;
}

footer .sh_social_icons li {
    display: inline;
    margin-right: .7rem;
}

footer .sh_social_icons i {
    font-size: 2rem;
}

    /*---- custom radio buttons starts ----*/

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
    }

    .custom-control-label::before {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #dee2e6;
    }

    .custom-radio .custom-control-label::before {
        border-radius: 50%;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        background-color: #007bff;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #007bff;
    }

    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    /*---- custom radio buttons ends ----*/

.radio_custom_group.is-invalid ~ .invalid-feedback {
    display: block;
}

.radio_custom_group.is-valid ~ .invalid-feedback {
    display: none;
}

.invalid_message_correction {
    display: block;
}

#accordion_client_new_application .btn {
    cursor: pointer;
}

#accordion_client_new_application #client_new_application_start_another {
    display: none;
}

.i_understand_button_cont {
    margin: 0 auto;
}

div[class*="spinner_form_"] {
    display: none;
}

.spinner_cont {
     position: relative;
    display: inline;
}

.spinner_cont i {
    position: absolute;
    top: -4px;
    left: 9px;
}

[class*="check_"] {
    color: #28a745;
    display: none;
}

.form_submitted_successfully {
    display: none;
    color: #28a745;
}

.pets_in_need_cont .badge,
.current_clients_cont .badge,
.clients_in_need_cont .badge {
    padding: .6em .6em;
}

[id*="list-button-qa-item-"] .badge {
    padding: .25em .4em;
}

.scrollspy-example > div:first-child {
    background-color: #82b1ff;
}
.list-group-item.active:first-child {
    background-color: #007bff;
    /*background-color: #33b5e5;*/
    /*background-color: #82b1ff;*/
    border-color: #33b5e5;
}

.scrollspy-example > div:nth-child(2) {
    background-color: #ff8a80;
}
.list-group-item.active:nth-child(2) {
    background-color: #ff4444;
    /*background-color: #ff8a80;*/
    border-color: #ff4444;
}

.scrollspy-example > div:nth-child(3) {
    /*background-color: #ff9100;*/
    background-color: #ffd180;
}
.list-group-item.active:nth-child(3) {
    /*background-color: #ff6d00;*/
    background-color: #ffbb33;
    /*background-color: #ffd180;*/
    border-color: #ffbb33;
}

.scrollspy-example > div:last-child {
    background-color: #b9f6ca;
}
.list-group-item.active:last-child {
    background-color: #00C851;
    /*background-color: #b9f6ca;*/
    border-color: #00C851;
}

/*.scrollspy-example > div.multi_form_color {
    background-color: #ffffff;
    border: 1px solid #000000;
}*/

.scrollspy-example > [id*="list-item-"][class*="multi_form_color_"]  {
     background-color: #ffffff;
}

.scrollspy-example > div.multi_form_color_blue > form:nth-child(2n)  {
    background-color: #90caf9; /*blue lighten-3*/
}

.scrollspy-example > div.multi_form_color_blue > form:nth-child(2n+1)  {
    background-color: #64b5f6; /*blue lighten-2*/
}

.scrollspy-example > div.multi_form_color_red > form:nth-child(2n)  {
    background-color: #ef9a9a; /*red lighten-3*/
}

.scrollspy-example > div.multi_form_color_red > form:nth-child(2n+1)  {
    background-color: #e57373; /*red lighten-2*/
}

.scrollspy-example > div.multi_form_color_yellow > form:nth-child(2n)  {
    background-color: #fff59d; /*yellow lighten-3*/
}

.scrollspy-example > div.multi_form_color_yellow > form:nth-child(2n+1)  {
    background-color: #fff176; /*yellow lighten-2*/
}

.scrollspy-example > div.multi_form_color_green > form:nth-child(2n)  {
    background-color: #a5d6a7; /*green lighten-3*/
}

.scrollspy-example > div.multi_form_color_green > form:nth-child(2n+1)  {
    background-color: #81c784; /*green lighten-2*/
}

.current_pets_cont [id*="list-item-"][class*="multi_form_color_"],
.pets_in_need_cont [id*="list-item-"][class*="multi_form_color_"],
.current_clients_cont [id*="list-item-"][class*="multi_form_color_"],
.clients_in_need_cont [id*="list-item-"][class*="multi_form_color_"] {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0 !important;
}

.scrollspy-example > [id*="list-item-"][class*="multi_form_color_"] > form  {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem !important;
}

.scrollspy-example > [id*="list-item-"][class*="multi_form_color_"] > form:first-child  {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.scrollspy-example > [id*="list-item-"][class*="multi_form_color_"] > form:last-child  {
    padding-bottom: 2rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

#accordion_client_new_application input:required {
    box-shadow: none;
}

.new_client_form_row > .col-lg-8 {
    padding-left: 0;
    padding-right: 0;
}

#pet_form_cont [class*="pet_application_"] {
    padding-left: 15px;
    padding-right: 15px;
}

#pet_form_cont [class*="pet_application_"] + [class*="pet_application_"] {
    /*border-top: 1px dashed black;*/
    margin-top: 20px;
    padding-top: 15px;
}

#pet_form_cont [class*="pet_application_"]:nth-child(2n) {
    background-color: #82b1ff;
    border-radius: 4px;
}

.new_client_form_row .new_client_form_button_row {

}




/******* Responsive views start **********/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) {

}

@media (min-width: 320px) and (max-width: 575.99px) {

    body {
        /*font-size: 0.7rem;*/
    }

    .homepage .btn-primary,
    .homepage .btn-secondary {
        width: 100%;
        margin-top: 1rem;
    }

    .sh_signup label {
        font-size: .9rem;
    }

    .footer_copyright {
        font-size: .8rem;
    }

    footer .container {
        background-color: #ffffff;
    }

    footer .sh_social_icons {
        margin-left: .7rem;
    }

    footer .back_to_top,
    footer .sh_social_icons,
    footer .footer_copyright {
        float: none !important;
        padding: 0;
        margin-right: auto !important;
        text-align: center;
    }

    .btn.signup_advocate,
    .btn.signup_shelter,
    .sh_sign_btn {
        width: 100%;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {

    .footer_copyright {
        font-size: .8rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px) {

    .sh_signup label {
        font-size: .7rem;
    }

    .sh_signup .custom-control-description {
        line-height: 2;
    }

}

@media (max-width: 991.99px) {

    .content-wrapper {
        padding-top: 5rem;
    }

    .nav_item_logo_cont {
        display: none;
    }

    .logo,
    .logo_collapsed_visible {
        display: none;
    }

    .logo_mobile {
        display: block;
    }

}

@media (min-width: 992px) {

    html.inner_pages_html {
        background-image: none;
        background-color: #343A40;
    }

    #mainNav {
        background-color: transparent !important;
    }

    .logo_collapsed_visible {
        display: none;
    }

    .sidenav-toggled .logo_collapsed_visible {
        display: block;
    }

    .logo.logo_collapsed_visible {
        height: 22px;
    }

    .logo_mobile {
        display: none;
    }

    body.sticky-footer .content-wrapper {
        min-height: calc(100vh - 56px);
    }

    #mainNav .navbar-collapse .navbar-sidenav {
        margin-top: 10px;
    }

    #mainNav.fixed-top .navbar-sidenav {
        height: calc(100vh - 66px);
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.99px) {

    .sh_signup label {
        font-size: .9rem;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/******* Responsive views end **********/

/******* Borders for breakpoints visibility start **********/

@media (max-width: 575.99px) {

}

@media (min-width: 320px) and (max-width: 575.99px) {
    .content-wrapper {
        border: 1px solid orange;
    }

    .content-wrapper > .container-fluid {
        padding-right: 5px;
        padding-left: 5px;
    }

    .pets_in_need_cont .main_cont > .col-7,
    .current_clients_cont .main_cont > .col-7,
    .current_pets_cont .main_cont > .col-7,
    .clients_in_need_cont .main_cont > .col-7 {
         padding-right: 0;
        padding-left: 5px;
    }

    .pets_in_need_cont .main_cont > .col-5,
    .current_clients_cont .main_cont > .col-5,
    .current_pets_cont .main_cont > .col-5,
    .clients_in_need_cont .main_cont > .col-5 {
        padding-left: 0;
        padding-right: 5px;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .justify-content-between,
    .current_clients_cont .main_cont > .col-5 .list-group-item .justify-content-between,
    .current_pets_cont .main_cont > .col-5 .list-group-item .justify-content-between,
    .clients_in_need_cont .main_cont > .col-5 .list-group-item .justify-content-between {
        justify-content: center !important;
        display: block !important;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont,
    .current_clients_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont,
    .current_pets_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont,
    .clients_in_need_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont {
         margin-top: 0.5rem !important;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont,
    .current_clients_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont,
    .current_pets_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont,
    .clients_in_need_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont {
        margin-top: 0 !important;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont button[id*="list-button-qa-item-"],
    .current_clients_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont button[id*="list-button-qa-item-"] {
         margin-bottom: .5rem;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont button,
    .current_clients_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont button {
        width: 100%;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont small,
    .current_clients_cont .main_cont > .col-5 .list-group-item .zip_pet_number_cont small,
    .current_pets_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont small,
    .clients_in_need_cont .main_cont > .col-5 .list-group-item .city_pet_number_cont small {
        margin-bottom: .5rem;
        display: block;
    }

    .pets_in_need_cont .main_cont > .col-5 .list-group-item.active button,
    .current_clients_cont .main_cont > .col-5 .list-group-item.active button,
    .current_pets_cont .main_cont > .col-5 .list-group-item.active button,
    .clients_in_need_cont .main_cont > .col-5 .list-group-item.active button {
        border: 2px solid #ffffff;
    }


}

@media (min-width: 576px) and (max-width: 767.99px) {
    .content-wrapper {
        border: 1px solid green;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .content-wrapper {
        border: 1px solid blue;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    body {
        border: 1px solid red;
    }
}

@media (min-width: 1200px) {

}

/******* Borders for breakpoints visibility end **********/